/* .ronaldo {
    top: 306px;
    right: 500px;
}

@media only screen and (max-width : 600px) {
    .ronaldo {
        top: 93.5px;
        right: 10px;
    }
}

@media only screen and (min-width : 600px) and (max-width : 992px) {
    .ronaldo {
        top: 154px;
        right: 100px;
    }
} */